body {
  background-color: gray;
  margin: 0;
  padding: 0;
}

table {
  margin: 50px auto;
}

.cell {
  width: 45px; /*see Sharon explanation from the last lesson regarding relative size (vw or other options).*/
  height: 45px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
  cursor: pointer;
}

.revealed {
  background-color: rgb(230, 230, 230);
}

.mine {
  background-color: rgb(0, 0, 0);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(29, 144, 144);
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  color: black;
  line-height: 1.5;
}

.footer-title {
  font-size: 17px;
  margin: 0;
}

.footer-name {
  font-size: 15px;
  color: black;
  margin: 0;
}
