body {
  background-color: rgb(171, 170, 170);
  margin: 0;
  padding: 0;
}

table {
  margin: 50px auto;
}

.cell {
  width: 45px; /*see Sharon explanation from the last lesson regarding relative size (vw or other options).*/
  height: 45px;
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
  font-size: 22px;
  cursor: pointer;
}

/* .life {
  background-color: rgb(255, 255, 255); 
  /* color: black; */
/* }  */
 

.revealed {
  background-color: rgb(230, 230, 230);
}

/* .mine {
  background-color: rgb(0, 0, 0);
} */

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(29, 144, 144);
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
  color: black;
  line-height: 1.5;
}

.footer-title {
  font-size: 17px;
  margin: 0;
}

.footer-name {
  font-size: 15px;
  color: black;
  margin: 0;
}

.dashboard {
  text-align:  center;
  margin-bottom:  15px;
}
button {
  background-color: blue;
  color: white;
  border: none;
  padding:  8px 16px;
  border-radius:  6px;
  font-size:  16px;
  cursor:  pointer;
  margin-right:  10px;
}

button:hover {
  background-color: rgb(73, 53, 222);
}

.timer {
  font-size:  18px;
  color: black;
}